<div class="contenair border-radius">
	<div class="row d-flex">
		<div class="col">
			<h1 class="text-sucess">Historique d'Entree/Sortie</h1>
		</div>
		<div class="col">
		<a href="/Mouvement/create" class=" mt-3 btn btn-success rounded align-self-end" >New</a>
		</div>
	</div>
</div>
<% if (result.length == 0) { %>
  <h4>
    0 Mouvement
  </h4>
<% } else { %>
<table class="table table-primary">
	<thead>
    <th>#</th>
		
			<!-- <th>Reference</th> -->
			<th>Article</th>
			<th>TypeMouvement</th>
			<th>Quantite</th>
			<th>Date</th>
			<th>Responsable</th>
			<th>Destination</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
					<!-- <td>
						<%= item.Reference %>
					</td> -->
					<td>
						<%= item.Article %>
					</td>
					<td>
						<% if (item.TypeMouvement) {%> Entree <% } %>
						<% if (!item.TypeMouvementv) {%> Sortie <% } %>
					</td>
					<td>
						<%= item.Quantite %>
					</td>
					<td>
						<%= item.Date %>
					</td>
					<td>
						<%= item.Responsable %>
					</td>
					<td>
						<%= item.Destination %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a class="btn btn-warning rounded-circle" href="/Mouvement/show/<%= item.id %>"><i class="fa fa-eye"></i></a>
				</td>
				<td>
					<a class="btn btn-success rounded-circle" href="/Mouvement/edit/<%= item.id %>"><i class="fa fa-pencil"></i></a>
				</td>
				<td>
					<a class="btn btn-danger rounded-circle" href="/Mouvement/delete/<%= item.id %>"><i class="fa fa-trash"></i></a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
