<% if (typeof paginateurl != 'undefined' && typeof count != 'undefined') { %>
    <div class="col-md-12 col-xs-12 col-lg-12">
        <ul class="pagination col-md-8 col-xs-12 tcenter">
            <% for (i = 1; i < totalpages; i++) { %>
            <li <% if (i == currentpage)  { %> class="active" <% } %>>
                <a href="<%- paginateurl %><%- i %>"><%- i %></a></li>
            <% } %>    
        </ul> 
    </div>
    <% }%>
    for pagination
    <% include pagination %> adding in listing template
    
Report this ad
0

I use sailsjs and ejs template engine to build my website. And I use bootstrap. I have found that the pager appears in almost of my pages. So I want to make it a component, which can be inserted into other ejs pages without pain. Because each pager has different jump urls but with the same page query, include keyword might not help from ejs.

How can I do it?

    node.jstwitter-bootstrappaginationsails.jsejs

Share
Improve this question
Follow
asked Mar 14, 2016 at 13:09
Dzanvu's user avatar
Dzanvu
51355 silver badges1616 bronze badges

    POST SOME CODE please! – 
    Bwaxxlo
    Mar 14, 2016 at 14:20
    You mean you have some pagination widget created that is repeated in every controller + view? And you want to include that in your views?. Like Bwaxxlo said, add some code, and try to explain better, i'm not sure i'm catching. – 
    Lu Roman
    Mar 14, 2016 at 21:57 

Add a comment
2 Answers
Sorted by:
0

You can achieve this with a pattern like this

a template.ejs

 <% if (typeof paginateurl != 'undefined' && typeof count != 'undefined') { %>
<div class="col-md-12 col-xs-12 col-lg-12">
    <ul class="pagination col-md-8 col-xs-12 tcenter">
        <% for (i = 1; i < totalpages; i++) { %>
        <li <% if (i == currentpage)  { %> class="active" <% } %>>
            <a href="<%- paginateurl %><%- i %>"><%- i %></a></li>
        <% } %>    
    </ul> 
</div>
<% }%>

and by adding this in your listing template

<% include pagination %>

Share
Improve this answer
Follow
answered Mar 19, 2016 at 17:50
Esteban Goya's user avatar
Esteban Goya
1
Add a comment
Report this ad
0

More complex example with next/prev button: There is still some logic in this template, couse i have no time to refactor it. It is there to make it look more like this: Prev 1 ... 3 4 5 6 7 ... 10 Next

<% if(pages > 1) { %>
    <div class="prev">
        <% if(page > 1) { %>
            <a href="<%= link + linkDelimiter + (page-1) %>">Prev</a>
        <% } %>
    </div>

    <div class="numbers">
        <% if(page == 1) { %>
            <span class='current'>1</span>
        <% } else {%>
            <a class='page' href="<%= link + linkDelimiter + 1 %>">1</a>
        <% } %>

        <% if((page - 2) > 1) { %>
            ...
        <% } %>

        <% var start = page - 1 %>
        <% var end = page + 1 %>

        <% var addToStart = end - pages %>

        <% if (addToStart < 0) { %>
            <% addToStart = 0 %>
        <% }; %>

        <% var addToEnd = 3 - end %>
        <% if (addToEnd < 0) { %>
            <% addToEnd = 0 %>
        <% }; %>

        <% for(var i=(start - addToStart); i <= (end + addToEnd); i++) {%>
            <% if(i > 1 && i < pages) { %>
                <% if(page == i) { %>
                    <span class='current'><%= i %></span>
                <% } else { %>
                    <a class='page' href="<%= link + linkDelimiter + i %>"><%= i %></a>
                <% } %>
            <% } %>
        <% }%>

        <% if((page + 2) < pages) { %>
            ...
        <% } %>

        <% if(page == pages) { %>
            <span class='current'><%= pages %></span>
        <% } else { %>
            <a class='page' href="<%= link + linkDelimiter + pages %>"><%= pages %></a>
        <% } %>
    </div>

    <div class="next">
        <% if(page < pages) { %>
            <a href="<%= link + linkDelimiter + (page+1) %>">Next</a>
        <% } %>
    </div>

<% } %>

