<div id="user-detail" class="row ml-2 mt-3" >
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title">
              <a class="text-success mr-2 float-right" href="/article/edit/<%= element.id %>"><i class="nav-icon i-Pen-2 font-weight-bold"></i> Editer</a>
              <h2>Information concernant l'article Responsable : </h2>
            </div>
            <div class="row">
                <div class="col">
                  <table class="table">
                    <tbody>
                        <tr>
                            <td>Nom de l'article : </td>
                            <td class="font-weight-bold "><%= element.nomArticle %></td>
                            <!-- <td class="font-weight-bold">
                              <a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a>
                            </td> -->
                        </tr>
                        <tr>
                            <td>Reference Article : </td>
                            <td class="font-weight-bold"><%= element.reference %></td>
                            <!-- <td class="font-weight-bold">
                              <a class="text-success mr-2" href="#"><i class="nav-icon i-Pen-2 font-weight-bold"></i></a>
                            </td> -->
                        </tr>
                        <tr>
                            <td>Designation : </td>
                            <!-- <td class="text-success"><%= res.cin %></td> -->
                            <td class="font-weight-bold"><%= element.designation %></td>
                            <!-- <td class="text-danger">
                              <a class="text-success mr-2" href="#"><i class="nav-icon i-Remove font-weight-bold"></i></a>
                            </td> -->
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
